.container {
    width: 90vw;
    height: 60vh;
    position: absolute;
    bottom: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-columns: auto; */
    justify-items: center;
    align-content: center;
    gap: 20px;
}



