.container {
    width: 90vw;
    height: 60vh;
    position: absolute;
    bottom: 0;
}

/* .cards {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-content: center;
    gap: 20px;
} */



